<% include ./partials/head %>
<body>
  <div class="row">
    <% include ./partials/menubar %>
  </div>
  <form class="" action="/dokters/edit/<%=Diagnosis.id%>" method="post">

  <div class="row">
    <div class="col offset-s4">
      <div class="row">
        <div class="input-field col s6">
          <select name="idpatient">
            <%patients.forEach(patient =>{%>
              <option disable value="<%=patient.id%>" <%=(patient.id == Diagnosis.id_pasien) ? "selected" : "" %> > <%=patient.nama%></option>
            <%})%>
          </select>
        </div>
        <div class="input-field col s6">
          <input type="text" disabled name="Diagnosis" value="<%=Diagnosis.penyakit%>">
          <label> Diagnosis </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="date" class="datepicker" value="<%=Diagnosis.tanggal%>" name="tanggal_periksa" id="tanggal_periksa">
          <label for="tanggal_periksa"> Tanggal Periksa </label>
        </div>
        <div class="input-field col s6">
          <select name="Status">
              <option value="Recovery" <%=(Diagnosis.status == "Recovery") ? "selected" : "" %> >Recovery</option>
              <option value="Not yet Recovery" <%=(Diagnosis.status == "Not Yet Recovery") ? "selected" : "" %> >Not Yet Recovery</option>
          </select>
          <label for="textarea1">Status</label>
      </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </div>
    </form>
    </div>
  </div>

  <% include ./partials/scriptMaterialize %>
</body>

<% include ./partials/footer %>
