<% include ./partials/head %>
<body>
  <div class="row">
  <% include ./partials/menubar %>
  </div>
  <div class="row">
    <div class="col offset-s4">
        <div class = "row">
          <table>
          <thead>
            <tr>
                <th>Nama Pasien</th>
                <th>Diagnosis</th>
                <th>Tanggal Periksa</th>
                <th>Status</th>
                <th>Dokter</th>
                <th>Option</th>
            </tr>
          </thead>

          <tbody>
            <%tableJoin.forEach(data => { %>
              <tr>          
                <td><%=data.nama_pasien%></td>
                <td><%=data.penyakit%></td>
                <td><%=helpers.datecovertion(data.tanggal)%></td>
                <td><%=data.status%></td>
                <td><%=data.nama_dokter%></td>
                <td>
                <a href="/dokters/edit/<%=data.id%>"> Edit </a>
                <a href="/dokters/delete/<%=data.id%>"> Delete</a>
                </td>
              </tr> 
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <% include ./partials/scriptMaterialize %>
</body>

<% include ./partials/footer %>
